// Definindo cores
$colors-dark: (
    gddefault: #030412,
    gd50: #111827,
    gd100: #1f2937,
    gd200: #374151,
    gd300: #4b5563,
    gd400: #6b7280,
    gd500: #9ca3af,
    gd600: #d1d5db,
    gd700: #e5e7eb,
    gd800: #f3f4f6,
    gd900: #f9fafb,
    gd950: #ffffff,
    esmerald500: #10b981,
  );
$colors-light: (gddefault: #ffffff,
    gd50: #f9fafb,
    gd100: #f3f4f6,
    gd200: #e5e7eb,
    gd300: #d1d5db,
    gd400: #9ca3af,
    gd500: #6b7280,
    gd600: #4b5563,
    gd700: #374151,
    gd800: #1f2937,
    gd900: #111827,
    gd950: #030412,
    esmerald500: #10b981,
  );


// Aplicando temas

$font-stack1: "Cinzel";
$font-stack2: "Inter";