@use "variables";
@use "mixins";

// Aplicar cores para o tema escuro
@include mixins.apply-theme-colors(variables.$colors-dark);

// Aplicar cores para o tema claro
.theme-light {
  @include mixins.apply-theme-colors(variables.$colors-light);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: variables.$font-stack2;
}

#antes {
  z-index: 10;
  transition: background 0.3s, box-shadow 0.3s;
  
}

#depois {
  
  backdrop-filter: blur(48px);
}

.theme-dark #antes {
  background-color: rgba(3, 4, 18, 1);
  box-shadow: 0 2px 3px rgba(255, 255, 255, 0.3);
  }
.theme-dark #depois {
  background-color: rgba(3, 4, 18, 0.5);
  box-shadow: 0 2px 3px rgba(255, 255, 255, 0.1)
}
.theme-light #antes {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 3px rgba(3, 4, 18, 0.3);
  }
  
.theme-light #depois {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 3px rgba(3, 4, 18, 0.1);
}

.offcanvas {
          transition: background 0.3s ease-in-out;
          height: 100%;
          }

.navbar-brand {
  font-family: variables.$font-stack1;
  text-shadow: #ccc 3px 0 3px
}

.foto-perfil {
  display: flex;

  @media screen {
    @media (min-width: 992px) {
      width: 50vh;
    }

    @media (min-width: 768px) {
      margin-right: 0px !important;
    }
  }
}

section {
  display: block;
  // margin-top: 10vh;
  padding-top: 7vh;
}

.spinner-grow {
  width: 15px;
  height: 15px;
}

.bi-dot {
  color: #1cb43d;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  justify-content: center;
  align-items: center;
  color: #000000;
  display: block;
}

.hero-p {
  text-align: justify;
}

.footer {
  div {
    p {
      font-family: variables.$font-stack1;
      opacity: 75%;
    }
  }
}

i {
  font-size: 24px;
  line-height: 30px;
}
