@use "variables";
@use "mixins";



// Aplicar cores para o tema escuro
.theme-dark {
  @include mixins.apply-theme-colors(variables.$colors-dark);
}

// Aplicar cores para o tema claro
.theme-light {
  @include mixins.apply-theme-colors(variables.$colors-light);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: variables.$font-stack2;
  transition: all 0.9s cubic-bezier(0.25, 0.1, 0.25, 1);
}


.icon-moon-star, .icon-sun, .icon-linkedin, .icon-github{
  font-size: 1.5rem;
} 

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}


.theme-dark {
  .navbar-brand {
  font-family: variables.$font-stack1;
  text-shadow: #ffffff 1px 0 3px;
}
  .antes {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.05);
  }

  .depois {
    background-color: rgba(3, 4, 18, 0.3);
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(48px);
  }

  .foto-perfil,
  .foto-about {
    border: 8px solid #030412;
  }

  .shadow-img,
  .shadow-img-about {
    background-color: #374151;
  }

  .custom-button {
  background-color: #1f2937; /* Cor equivalente ao bg-gray-100 */
  padding: 0.375rem; /* Equivalente ao p-1.5 */
  border-radius: 0.5rem; /* Equivalente ao rounded-lg */
  transition: background-color 0.2s; /* Equivalente ao transition-colors duration-200 */
}

.custom-button:hover {
  background-color: #1f2937; /* Cor equivalente ao hover:bg-gray-100 */
}

.custom-button:active {
  background-color: #374151; /* Cor equivalente ao active:bg-gray-200 */
}

.custom-button svg {
  stroke: #d1d5db; /* Cor equivalente ao stroke-gray-600 */
  width: 2rem; /* Equivalente ao w-8 */
  height: 2rem; /* Equivalente ao h-8 */
}

.custom-button:hover svg {
  stroke: #e5e7eb; /* Cor equivalente ao hover:stroke-gray-700 */
}

}

.theme-light {
    .navbar-brand {
  font-family: variables.$font-stack1;
  text-shadow: #030412 1px 0 3px;
}
  .antes {
    border-bottom: 1px solid rgba(3, 4, 18, 0.05);
    box-shadow: 0 1px 2px rgba(3, 4, 18, 0.05);
  }

  .depois {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 2px rgba(3, 4, 18, 0.1);
    border-bottom: 1px solid rgba(3, 4, 18, 0.1);
    backdrop-filter: blur(48px);
  }

  .foto-perfil,
  .foto-about {
    border: 8px solid #ffffff;
  }

  .shadow-img,
  .shadow-img-about {
    background-color: #e5e7eb; //gd200
  }

  .custom-button {
  background-color: #f3f4f6; /* Cor equivalente ao bg-gray-100 */
  padding: 0.375rem; /* Equivalente ao p-1.5 */
  border-radius: 0.5rem; /* Equivalente ao rounded-lg */
  transition: background-color 0.2s; /* Equivalente ao transition-colors duration-200 */
}

.custom-button:hover {
  background-color: #f3f4f6; /* Cor equivalente ao hover:bg-gray-100 */
}

.custom-button:active {
  background-color: #e5e7eb; /* Cor equivalente ao active:bg-gray-200 */
}

.custom-button svg {
  stroke: #4b5563; /* Cor equivalente ao stroke-gray-600 */
  width: 2rem; /* Equivalente ao w-8 */
  height: 2rem; /* Equivalente ao h-8 */
}

.custom-button:hover svg {
  stroke: #374151; /* Cor equivalente ao hover:stroke-gray-700 */
}
}




.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.hw-6 {
  height: 24px;
  width: 24px;
}






.spinner-grow {
  width: 15px;
  height: 15px;
}

.bi-dot {
  color: #1cb43d;
}

.card-text .more-text {
  display: none;
}

.footer {
  div {
    p {
      font-family: variables.$font-stack1;
      opacity: 75%;
    }
  }
}


.tech-icon {
  height: 64px;
  width: 64px;
}

.tech-icon:hover {
  transform: scale(1.4);
  transition: 1s;
}


// Mobile 768px
@media screen and (max-width: 767px) {

  .tw {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
    margin: 0;
  }

  .offcanvas {
    min-height: 100vh;
    max-width: 300px;
  }

  //hero

  .foto-perfil {
    height: 280px;
    width: 240px;
    left: 1.25rem;
    border: 8px solid #030412;
    color: transparent;
    object-fit: cover;
    max-width: 100%;
  }

  .shadow-img {
    width: 280px;
    height: 280px;
    border: 8px solid transparent;
    top: 1.25rem;
    background-color: #374151;
  }

  .pic-container-hero {
    height: 300px;
    width: 280px;
  }

  //ABOUT
  .foto-about {
    height: 360px;
    width: 280px;
    left: 1.25rem;
    border: 8px solid #030412;
    color: transparent;
    object-fit: cover;
    max-width: 100%;
  }

  .shadow-img-about {
    width: 320px;
    height: 360px;
    border: 8px solid transparent;
    top: 1.25rem;
    background-color: #374151;
  }

  .pic-container-about {
    height: 380px;
    width: 320px;
  }
}

//Tablet
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .fs-md-4 {
    font-size: 1.25rem;
  }
  
   .fs-md-1 {
    font-size: 2.25rem !important;
  }


.tracking-negative {
  letter-spacing: -0.02em;
}
  .hw-md-8 {
    height: 32px;
    width: 32px;
  }

  .tw {
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -.02em;
  }

  .foto-perfil {
    height: 320px;
    width: 280px;
    top: 0;
    left: 0;
    border: 8px solid #030412;
    color: transparent;
    object-fit: cover;
    max-width: 100%;
  }

  .shadow-img {
    width: 280px;
    height: 320px;
    border: 8px solid transparent;
    bottom: 0;
    right: 0;
    background-color: #374151;
  }

  .pic-container-hero {
    height: 360px;
    width: 320px;
  }


  //ABOUT
  .foto-about {
    height: 420px;
    width: 340px;
    left: 1.25rem;
    border: 8px solid #030412;
    color: transparent;
    object-fit: cover;
    max-width: 100%;
  }

  .shadow-img-about {
    width: 340px;
    height: 420px;
    border: 8px solid transparent;
    top: 1.25rem;
    background-color: #374151;
  }

  .pic-container-about {
    height: 460px;
    width: 380px;
  }
}


//Telas Grandes
@media screen and (min-width: 1024px) {
  .fs-md-4 {
    font-size: 1.25rem;
  }
  
   .fs-md-1 {
    font-size: 2.25rem !important;
  }


.tracking-negative {
  letter-spacing: -0.02em;
}
  .hw-md-8 {
    height: 32px;
    width: 32px;
  }

  .tw {
    font-size: 3.75rem;
    line-height: 72px;
    font-weight: 700;
    letter-spacing: -.02em;
  }

  .foto-perfil {
    height: 320px;
    width: 280px;
    top: 0;
    left: 0;
    border: 8px solid #030412;
    color: transparent;
    object-fit: cover;
    max-width: 100%;
  }

  .shadow-img {
    width: 280px;
    height: 320px;
    border: 8px solid transparent;
    right: 0;
    bottom: 0;
    background-color: #374151;
  }

  .pic-container-hero {
    height: 360px;
    width: 320px;
  }

  //ABOUT
  .foto-about {
    height: 480px;
    width: 400px;
    left: 1.25rem;
    border: 8px solid #030412;
    color: transparent;
    object-fit: cover;
    max-width: 100%;
  }

  .shadow-img-about {
    width: 400px;
    height: 480px;
    border: 8px solid transparent;
    top: 1.25rem;
    background-color: #374151;
  }

  .pic-container-about {
    height: 520px;
    width: 440px;
  }
}